<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Dagbestedinggids NH-N" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
	<div class="row ddg-title-row">
		<div class="small-12 medium-6 large-3 columns">
			<%= image_tag "logoER.png" %>
		</div>
		<div class="ddg-apptitle small-12 medium-6 large-9 columns text-right">	
			Dagbestedinggids Noord-Holland Noord
		</div>	
	</div>	
	
	<div class="contain-to-grid">
		<nav class="top-bar" data-topbar>
			<section class="top-bar-section">
				<!-- start zurb_menu -->
				<%=
				    zurb_menu.to_html
				%>
				<!-- Right Nav Section -->

			    <ul class="right">
					<li class="has-form">
						<%= form_tag refinery.activities_activities_path, :method => :get, :id => 'search_form' do %>
						  	<div class="row collapse">
							    <div class="large-8 small-9 columns">
								  <%= text_field_tag :search, params[:search], :placeholder => "zoek activiteit..." %>
								  <%= hidden_field_tag :profile, params[:profile] if params[:profile] %>	
								  <%= hidden_field_tag :targetgroup, params[:targetgroup] if params[:targetgroup] %>	
								  <%= hidden_field_tag :woonplaats, params[:woonplaats] if params[:woonplaats] %>	
							    </div>
							    <div class="large-4 small-3 columns">
								  <a href="javascript:$('#search_form').submit();" class="button active expand">Zoek</a>	
							    </div>
						  	</div>
						<% end %>
					</li>
					<li class="divider"></li>				
			        <li class=""><%= link_to "Login", refinery.login_path %></li>
			    </ul>
			
			</section>
		    
		</nav>
	</div>	
	<!-- start yield" -->
    <%= yield %>
	<!-- end yield -->
	<div class="row">
		<div class="ddg-footer twelve columns">
			<%= render "shared/footer" %>
		</div>	
	</div>	
	
	

  </body>
</html>